In [1]:
# from pyspark.sql import SparkSession
# from pyspark.sql.functions import lit

# # Iniciar sesión de Spark
# spark = SparkSession.builder \
#     .appName("Lectura y modificación de archivos JSON con Spark SQL") \
#     .getOrCreate()

# df_ciudades = spark.read.json("./Data source/json/ciudades.json", mode="PERMISSIVE", multiLine="true")

# # Leer el archivo de países JSON
# df_paises = spark.read.json("./Data source/json/paises.json", mode="PERMISSIVE", multiLine="true")

# # Leer el archivo registro_NY.json
# df_registro_ny = spark.read.json("./Data source/json/registro_NY.json", mode="PERMISSIVE", multiLine="true")

# # Registrar DataFrames como tablas temporales
# df_ciudades.createOrReplaceTempView("ciudades")
# df_paises.createOrReplaceTempView("paises")
# df_registro_ny.createOrReplaceTempView("registro_ny")

# # Obtener una lista de nombres de ciudades únicas
# nombres_ciudades = df_ciudades.select("nombre").distinct().rdd.flatMap(lambda x: x).collect()

# # Lista para almacenar todos los DataFrames con la columna ciudad y país agregada
# dfs_con_ciudad_y_pais = []

# # Iterar sobre cada nombre de ciudad y aplicar la lógica
# for nombre_ciudad in nombres_ciudades:
#     df_registro_ny_with_ciudad = df_registro_ny.withColumn("ciudad", lit(nombre_ciudad))
#     nombre_pais = spark.sql(f"SELECT nombre FROM paises WHERE id_pais = (select id_pais from ciudades where nombre = '{nombre_ciudad}')").collect()[0][0]
#     df_registro_ny_with_ciudad_y_pais = df_registro_ny_with_ciudad.withColumn("pais", lit(nombre_pais))
#     dfs_con_ciudad_y_pais.append(df_registro_ny_with_ciudad_y_pais)

# # Unir todos los DataFrames en uno solo
# df_final = dfs_con_ciudad_y_pais[0]
# for df in dfs_con_ciudad_y_pais[1:]:
#     df_final = df_final.union(df)



# from pyspark.sql.functions import col, rand

# # Definir el rango del factor multiplicador
# min_factor = 1  # Cambia esto por el valor mínimo que desees
# max_factor = 10  # Cambia esto por el valor máximo que desees

# # Obtener una lista de las columnas numéricas del DataFrame
# columnas_numericas = [col_name for col_name, dtype in df_final.dtypes if dtype in ['int', 'double', 'bigint']]

# # Aplicar el factor multiplicador aleatorio a cada columna numérica
# for col_name in columnas_numericas:
#     df_final = df_final.withColumn(col_name, (col(col_name) * (min_factor + (rand() * (max_factor - min_factor)))).cast('bigint'))

# import pandas as pd

# # Convertir el DataFrame de Spark a un DataFrame de pandas
# df_pandas = df_final.toPandas()

# # Guardar el DataFrame de pandas en un archivo JSON con orientación de registros
# df_pandas.to_json('./Json-Final/df_con_ciudad_pais.json', orient='records')

# # Mostrar el DataFrame final
# df_final.show()

+-----------+---------------+----------------+---------+--------------------+--------------------+------+--------------+-------------+-------------+----+-----+--------------------+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+--------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+--------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+---------+-----------+
|checkTimeEt|commercialScore|dataQualityGrade|     date|         dateChecked|        dateModified| death|deathConfirmed|deathIncrease|deathProbable|fips|grade|                hash|hospitalized|hospitalizedCumulative|hospitalizedCurrently|hospitalizedDischarged|hospitalizedIncrease|inIcuCumulative|inIcuCurrently|  lastUpdateEt|negative|negativeIncrease|negativeRegularScore|negativeScore|negativeTestsAntibody|negativeTestsPeopleAntibody|negativeTestsViral|onVentilatorCumulative|onVentilatorCurrently|pending|  posNeg|positive|positiveCasesViral|positiveIncrease|positiveScore|positiveTestsAntibody|positiveTestsAntigen|positiveTestsPeopleAntibody|positiveTestsPeopleAntigen|positiveTestsViral|probableCases|recovered|score|state|   total|totalTestEncountersViral|totalTestResults|totalTestResultsIncrease|totalTestResultsSource|totalTestsAntibody|totalTestsAntigen|totalTestsPeopleAntibody|totalTestsPeopleAntigen|totalTestsPeopleViral|totalTestsViral|   ciudad|       pais|
+-----------+---------------+----------------+---------+--------------------+--------------------+------+--------------+-------------+-------------+----+-----+--------------------+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+--------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+--------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+---------+-----------+
|03/06 09:00|              0|            null| 88874853|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|234406|          null|          386|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                44126|                244312|                   0|           null|          5961|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 4250|   null| 7448930|10097470|              null|           63787|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 9671232|               235414470|        98810279|                 1406640|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|   Madrid|     España|
|03/06 09:00|              0|            null|189711801|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|174985|          null|          393|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                22817|               1219634|                   0|           null|          8191|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 5877|   null|16474000|16766248|              null|           11539|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 4102304|               181570554|       342262017|                 1122511|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|    Tokio|      Japón|
|03/06 09:00|              0|            null| 98102285|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|192623|          null|          355|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                27525|                344655|                   0|           null|          6866|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 3562|   null| 7431286|10956930|              null|           36957|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY|12974043|               261641473|       356262302|                 1406092|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|Barcelona|     España|
|03/06 09:00|              0|            null|173861345|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|152334|          null|           75|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                12272|                368281|                   0|           null|          6746|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 3532|   null|14909663|13483081|              null|           21996|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY|10612386|                97869653|       182061353|                  607120|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|  Londres|Reino Unido|
|03/06 09:00|              0|            null|109394330|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|171853|          null|          314|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                27627|               1328885|                   0|           null|          7963|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 6158|   null|12204846|15103002|              null|           20505|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 6412271|               305269773|       157868084|                 2147136|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|    París|Reino Unido|
|03/06 09:00|              0|            null| 67445441|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|168470|          null|          310|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                35459|               1246240|                   0|           null|          9230|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 5274|   null| 7086196|16455279|              null|           16504|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 7740097|               363224593|       369003807|                  747770|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|    Osaka|      Japón|
+-----------+---------------+----------------+---------+--------------------+--------------------+------+--------------+-------------+-------------+----+-----+--------------------+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+--------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+--------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+---------+-----------+

In [6]:
# from pyspark.sql import SparkSession
# from pyspark.sql.functions import lit, col, rand, when

# # Iniciar sesión de Spark
# spark = SparkSession.builder \
#     .appName("Lectura y modificación de archivos JSON con Spark SQL") \
#     .getOrCreate()

# # Leer el archivo de ciudades JSON
# df_ciudades = spark.read.json("./1.Data source/json/ciudades.json", mode="PERMISSIVE", multiLine="true")

# # Leer el archivo de países JSON
# df_paises = spark.read.json("./1.Data source/json/paises.json", mode="PERMISSIVE", multiLine="true")

# # Leer el archivo registro_NY.json
# df_registro_ny = spark.read.json("./1.Data source/json/registro_NY.json", mode="PERMISSIVE", multiLine="true")

# # Registrar DataFrames como tablas temporales
# df_ciudades.createOrReplaceTempView("ciudades")
# df_paises.createOrReplaceTempView("paises")
# df_registro_ny.createOrReplaceTempView("registro_ny")

# # Obtener una lista de nombres de ciudades únicas
# nombres_ciudades = df_ciudades.select("nombre").distinct().rdd.flatMap(lambda x: x).collect()

# # Lista para almacenar todos los DataFrames con la columna ciudad y país agregada
# dfs_con_ciudad_y_pais = []

# # Iterar sobre cada nombre de ciudad y aplicar la lógica
# for nombre_ciudad in nombres_ciudades:
#     df_registro_ny_with_ciudad = df_registro_ny.withColumn("ciudad", lit(nombre_ciudad))
#     nombre_pais = spark.sql(f"SELECT nombre FROM paises WHERE id_pais = (select id_pais from ciudades where nombre = '{nombre_ciudad}')").collect()[0][0]
#     df_registro_ny_with_ciudad_y_pais = df_registro_ny_with_ciudad.withColumn("pais", lit(nombre_pais))
#     dfs_con_ciudad_y_pais.append(df_registro_ny_with_ciudad_y_pais)

# # Unir todos los DataFrames en uno solo
# df_final = dfs_con_ciudad_y_pais[0]
# for df in dfs_con_ciudad_y_pais[1:]:
#     df_final = df_final.union(df)

# # Definir el rango del factor multiplicador
# min_factor = 1  # Cambia esto por el valor mínimo que desees
# max_factor = 10  # Cambia esto por el valor máximo que desees

# # Obtener una lista de las columnas numéricas del DataFrame
# columnas_numericas = [col_name for col_name, dtype in df_final.dtypes if dtype in ['int', 'double', 'bigint']]

# # Aplicar el factor multiplicador aleatorio a cada columna numérica, excepto la columna 'date'
# for col_name in columnas_numericas:
#     if col_name != 'date':  # Excluir la columna 'date'
#         df_final = df_final.withColumn(col_name, when(col("date").isNull(), col(col_name)).otherwise((col(col_name) * (min_factor + (rand() * (max_factor - min_factor)))).cast('bigint')))

# # Convertir el DataFrame de Spark a un DataFrame de pandas
# df_pandas = df_final.toPandas()

# # Guardar el DataFrame de pandas en un archivo JSON con orientación de registros
# df_pandas.to_json('./2.Json+ciudad+pais/df_con_ciudad_pais.json', orient='records')

# # Mostrar el DataFrame final
# df_final.show()

+-----------+---------------+----------------+--------+--------------------+--------------------+------+--------------+-------------+-------------+----+-----+--------------------+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+--------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+--------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+---------+-----------+
|checkTimeEt|commercialScore|dataQualityGrade|    date|         dateChecked|        dateModified| death|deathConfirmed|deathIncrease|deathProbable|fips|grade|                hash|hospitalized|hospitalizedCumulative|hospitalizedCurrently|hospitalizedDischarged|hospitalizedIncrease|inIcuCumulative|inIcuCurrently|  lastUpdateEt|negative|negativeIncrease|negativeRegularScore|negativeScore|negativeTestsAntibody|negativeTestsPeopleAntibody|negativeTestsViral|onVentilatorCumulative|onVentilatorCurrently|pending|  posNeg|positive|positiveCasesViral|positiveIncrease|positiveScore|positiveTestsAntibody|positiveTestsAntigen|positiveTestsPeopleAntibody|positiveTestsPeopleAntigen|positiveTestsViral|probableCases|recovered|score|state|   total|totalTestEncountersViral|totalTestResults|totalTestResultsIncrease|totalTestResultsSource|totalTestsAntibody|totalTestsAntigen|totalTestsPeopleAntibody|totalTestsPeopleAntigen|totalTestsPeopleViral|totalTestsViral|   ciudad|       pais|
+-----------+---------------+----------------+--------+--------------------+--------------------+------+--------------+-------------+-------------+----+-----+--------------------+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+--------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+--------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+---------+-----------+
|03/06 09:00|              0|            null|20210307|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z| 71733|          null|          351|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                26580|               1185911|                   0|           null|          2051|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 4034|   null|14367350|13381630|              null|           25575|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 6441630|               395606673|       315083633|                 1402046|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|   Madrid|     España|
|03/06 09:00|              0|            null|20210307|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|175967|          null|          211|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                42968|                668294|                   0|           null|          3056|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 5467|   null|12409336|11283361|              null|           45692|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY|14655006|                79814845|        76556858|                 1464742|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|    Tokio|      Japón|
|03/06 09:00|              0|            null|20210307|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|387818|          null|          252|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                26950|                299637|                   0|           null|          6029|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 3903|   null|16691110|10429279|              null|           13715|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 5518506|               233305774|       198430263|                 1268677|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|Barcelona|     España|
|03/06 09:00|              0|            null|20210307|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z| 89980|          null|          133|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                43412|                625866|                   0|           null|          3007|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 2286|   null| 6727829|10075846|              null|           51949|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 7654540|               218100247|       159576159|                  674598|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|  Londres|Reino Unido|
|03/06 09:00|              0|            null|20210307|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z|141985|          null|          155|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                 8697|                839499|                   0|           null|          4864|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 2189|   null| 9386834| 4929077|              null|           20512|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 2953686|               280407160|       297358912|                 1067551|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|    París|Reino Unido|
|03/06 09:00|              0|            null|20210307|2021-03-06T14:00:00Z|2021-03-06T14:00:00Z| 47804|          null|          382|         null|  36|     |8b1ad6376deb03844...|        null|                  null|                34475|                734111|                   0|           null|          6314|3/6/2021 14:00|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 6527|   null|11160428|11131263|              null|           28907|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0|   NY| 9658772|               178328670|        96726692|                 1355694|  totalTestEncounte...|              null|             null|                    null|                   null|                 null|           null|    Osaka|      Japón|
+-----------+---------------+----------------+--------+--------------------+--------------------+------+--------------+-------------+-------------+----+-----+--------------------+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+--------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+--------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+---------+-----------+

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, col, rand, when
import json

# Iniciar sesión de Spark
spark = SparkSession.builder \
    .appName("Agregar ciudad y país a registros COVID") \
    .getOrCreate()

# Leer el archivo de ciudades JSON
df_ciudades = spark.read.json("./1.Data source/json/ciudades.json", mode="PERMISSIVE", multiLine="true")

# Leer el archivo de países JSON
df_paises = spark.read.json("./1.Data source/json/paises.json", mode="PERMISSIVE", multiLine="true")

# Leer el archivo "registroscovid.json"
df_registroscovid = spark.read.json("./1.Data source/json/registroscovid.json", mode="PERMISSIVE", multiLine="true")

# Registrar DataFrames como tablas temporales
df_ciudades.createOrReplaceTempView("ciudades")
df_paises.createOrReplaceTempView("paises")
df_registroscovid.createOrReplaceTempView("registroscovid")

# Obtener una lista de nombres de ciudades únicas
nombres_ciudades = df_ciudades.select("nombre").distinct().rdd.flatMap(lambda x: x).collect()

# Lista para almacenar todos los DataFrames con la columna ciudad y país agregada
dfs_con_ciudad_pais = []

# Iterar sobre cada nombre de ciudad y aplicar la lógica
for nombre_ciudad in nombres_ciudades:
    df_registro_con_ciudad = df_registroscovid.withColumn("ciudad", lit(nombre_ciudad))
    nombre_pais = spark.sql(f"SELECT nombre FROM paises WHERE id_pais = (SELECT id_pais FROM ciudades WHERE nombre = '{nombre_ciudad}')").collect()[0][0]
    df_registro_con_ciudad_pais = df_registro_con_ciudad.withColumn("pais", lit(nombre_pais))
    dfs_con_ciudad_pais.append(df_registro_con_ciudad_pais)

# Unir todos los DataFrames en uno solo
df_final = dfs_con_ciudad_pais[0]
for df in dfs_con_ciudad_pais[1:]:
    df_final = df_final.union(df)

# Definir el rango del factor multiplicador
min_factor = 1  # Cambia esto por el valor mínimo que desees
max_factor = 10  # Cambia esto por el valor máximo que desees

# Aplicar el factor multiplicador aleatorio a cada columna numérica, excepto la columna 'date'
for col_name in df_final.columns:
    if col_name != 'date' and col_name != 'ciudad' and col_name != 'pais':
        df_final = df_final.withColumn(col_name, when(col("date").isNull(), col(col_name)).otherwise((col(col_name) * (min_factor + (rand() * (max_factor - min_factor)))).cast('bigint')))

# Convertir el DataFrame de Spark a un DataFrame de pandas
df_pandas = df_final.toPandas()

# Guardar el DataFrame de pandas en un archivo JSON con orientación de registros
df_pandas.to_json('./2.Json+ciudad+pais/df_con_ciudad_pais_registroscovid.json', orient='records')

# Mostrar el DataFrame final
df_final.show()

+-----------+---------------+----------------+--------+-----------+------------+------+--------------+-------------+-------------+----+-----+----+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+---------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+------+------+
|checkTimeEt|commercialScore|dataQualityGrade|    date|dateChecked|dateModified| death|deathConfirmed|deathIncrease|deathProbable|fips|grade|hash|hospitalized|hospitalizedCumulative|hospitalizedCurrently|hospitalizedDischarged|hospitalizedIncrease|inIcuCumulative|inIcuCurrently|lastUpdateEt|negative|negativeIncrease|negativeRegularScore|negativeScore|negativeTestsAntibody|negativeTestsPeopleAntibody|negativeTestsViral|onVentilatorCumulative|onVentilatorCurrently|pending|  posNeg|positive|positiveCasesViral|positiveIncrease|positiveScore|positiveTestsAntibody|positiveTestsAntigen|positiveTestsPeopleAntibody|positiveTestsPeopleAntigen|positiveTestsViral|probableCases|recovered|score|state|    total|totalTestEncountersViral|totalTestResults|totalTestResultsIncrease|totalTestResultsSource|totalTestsAntibody|totalTestsAntigen|totalTestsPeopleAntibody|totalTestsPeopleAntigen|totalTestsPeopleViral|totalTestsViral|ciudad|  pais|
+-----------+---------------+----------------+--------+-----------+------------+------+--------------+-------------+-------------+----+-----+----+------------+----------------------+---------------------+----------------------+--------------------+---------------+--------------+------------+--------+----------------+--------------------+-------------+---------------------+---------------------------+------------------+----------------------+---------------------+-------+--------+--------+------------------+----------------+-------------+---------------------+--------------------+---------------------------+--------------------------+------------------+-------------+---------+-----+-----+---------+------------------------+----------------+------------------------+----------------------+------------------+-----------------+------------------------+-----------------------+---------------------+---------------+------+------+
|       null|              0|            null|20210307|       null|        null|  2582|          null|            0|         null|   3| null|null|        1899|                  2326|                   60|                  null|                   0|           null|          null|        null|    null|               0|                   0|            0|                 null|                       null|           4586002|                  null|                    3|   null|  443890|  467944|              null|               0|            0|                 null|                null|                       null|                      null|            651785|         null|     null|    0| null|   200928|                    null|        15686501|                       0|                  null|              null|             null|                    null|                   null|                 null|       12554207|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 64928|         69406|           -7|        19954|   8| null|null|       47536|                324173|                 4551|                  null|                   0|           9512|          null|        null|11340444|           15197|                   0|            0|                 null|                       null|              null|                 11690|                 null|   null|13818278|  784948|            938201|            2229|            0|                 null|                null|                       null|                      null|              null|       701958|   402454|    0| null|  9827527|                    null|        10386177|                    7816|                  null|              null|             null|                 1137269|                   null|             21962540|           null|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 19033|          9012|          155|         9802|  31| null|null|      118524|                 56872|                 1709|                  null|                  22|           null|           827|        null| 3742827|           11903|                   0|            0|                 null|                       null|          16050805|                  5521|                  363|   null| 5597201|  872766|           1148635|             305|            0|                 null|                null|                       null|                    704755|              null|       103419|  2650018|    0| null| 27318063|                    null|        17576492|                   10967|                  null|              null|             null|                    null|                1585054|                 null|        6975900|Madrid|España|
|       null|              0|            null|20210307|       null|        null|     0|          null|            0|         null| 593| null|null|        null|                  null|                 null|                  null|                   0|           null|          null|        null|   15168|               0|                   0|            0|                 null|                       null|              null|                  null|                 null|   null|   13474|       0|                 0|               0|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0| null|     4439|                    null|            2936|                       0|                  null|              null|             null|                    null|                   null|                 null|           6633|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 40279|         62059|           23|        10543|  36| null|null|      214196|                 64863|                 9015|                758207|                 350|           null|          2225|        null|18013056|           43534|                   0|            0|                 null|                       null|              null|                  null|                 1007|   null|37313346| 5662902|           5524156|            6371|            0|                 null|                null|                       null|                      null|              null|       489478|     null|    0| null| 34503392|                    null|        78852095|                  347750|                  null|           5580027|             null|                 3819248|                   null|             37201296|       40545585|Madrid|España|
|       null|              0|            null|20210307|       null|        null|216403|          null|         2230|         null|  58| null|null|        null|                  null|                39134|                  null|                   0|           null|          6542|        null|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 null|   null|11847377|26566137|          25038486|           29599|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0| null| 23793111|                    null|       325220312|                 1263093|                  null|              null|             null|                    null|                   null|                 null|      235216023|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 59383|         18280|           22|         5588|  68| null|null|      215253|                 94358|                 1106|                 91089|                  89|           null|          null|        null| 2359965|               0|                   0|            0|              1451509|                       null|              null|                  null|                 null|   null|20221510| 3852249|           2871488|            2133|            0|               136306|                null|                       null|                      null|              null|       109360|     null|    0| null| 14308591|                28622469|        11973210|                  282789|                  null|           2863002|             null|                    null|                   null|             15187945|           null|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 45395|         18437|            0|        10045|  57| null|null|        null|                  null|                 3483|                  null|                   0|           null|          null|        null|    null|               0|                   0|            0|                 null|                       null|           8563560|                  null|                 null|   null| 1048459| 1283883|            856901|               0|            0|                 null|              104051|                       null|                      null|           1815487|       113480|     null|    0| null|   617911|                    null|        31760592|                       0|                  null|              null|          3661489|                    null|                   null|                 null|       34998352|Madrid|España|
|       null|              0|            null|20210307|       null|        null|  3429|          null|            0|         null|  90| null|null|        null|                  null|                 1462|                  null|                   0|           null|            86|        null|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                   42|   null|  375922|  291462|              null|             633|            0|                 null|                null|                       null|                      null|              null|         null|   107797|    0| null|    53667|                 1750698|         6752575|                   52675|                  null|              null|             null|                    null|                   null|              4181900|           null|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 10646|          2313|           51|          649|  80| null|null|        null|                  null|                  659|                  null|                   0|           null|            91|        null| 2500223|            4467|                   0|            0|                 null|                       null|              null|                  null|                 null|   null| 4411490|  104549|            116090|            1566|            0|                 null|                null|                       null|                      null|            772587|        27297|     null|    0| null|  4371666|                 5076969|         4926190|                    6910|                  null|              null|             null|                    null|                   null|              1590022|           null|Madrid|España|
|       null|              0|            null|20210307|       null|        null|239448|          null|          580|         null| 110| null|null|      251373|                682178|                14350|                  null|                 749|           null|          null|        null|36040194|           70478|                   0|            0|              1818116|                    1844383|          64406052|                  null|                 null|  69317|75142198|15774077|           4367856|           18900|            0|              1294437|                null|                     343869|                      null|           5371338|      3055806|     null|    0| null|102590750|                83924325|        47895284|                  425793|                  null|           2565131|             null|                 5735917|                   null|             40228628|      178342392|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 51747|        144263|            5|         5392|  46| null|null|      327687|                257197|                 3521|                  null|                 265|          15189|          null|        null|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                 null|   null| 9608530| 4227330|           2291566|            5046|            0|               219109|              570289|                       null|                      null|           6216067|      1669073|     null|    0| null|  9487513|                    null|        54451237|                   81628|                  null|           1292828|         13979493|                    null|                   null|                 null|       15720283|Madrid|España|
|       null|              0|            null|20210307|       null|        null|  1025|          null|            0|         null| 100| null|null|        null|                  null|                    9|                  null|                   0|           null|             8|        null|  383795|               0|                   0|            0|                 null|                       null|              null|                  null|                    5|   null|  371677|   46096|             19315|               0|            0|                   45|                1232|                       null|                      null|              null|          486|    29979|    0| null|   644655|                    null|          518012|                       0|                  null|              3431|            76506|                    null|                   null|                 null|         622257|Madrid|España|
|       null|              0|            null|20210307|       null|        null|   689|          4100|            5|         null| 119| null|null|       17390|                 20741|                  157|                  null|                   0|           null|             5|        null|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                   25|   null|   97286|  233296|            120101|             117|            0|                 null|                null|                       null|                      null|            175606|         6909|     null|    0| null|    38386|                 4456361|         2994187|                   39185|                  null|              null|             null|                    null|                   null|                 null|           null|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 52488|          null|           18|         null| 155| null|null|        null|                  null|                  805|                  null|                   0|           null|           166|        null| 4063714|            5817|                   0|            0|                 null|                     598221|           4214979|                  null|                   17|   null|11267438| 1858287|           1934961|             591|            0|                 null|              287579|                      71201|                    136809|            843027|         null|  2820350|    0| null| 10079788|                    null|        11464740|                    8814|                  null|              null|          5293670|                  708259|                 975424|              9390575|       15149105|Madrid|España|
|       null|              0|            null|20210307|       null|        null|  7317|          4077|           11|          432|  49| null|null|       36218|                 34859|                 1472|                  null|                  41|           3917|            85|        null|  983795|            3724|                   0|            0|                 null|                       null|              null|                  null|                 null|   null|  815243| 1444927|           1011991|             740|            0|                 null|                null|                       null|                      null|              null|       289892|   753203|    0| null|  1576601|                    null|         6332224|                    2136|                  null|              null|           950656|                    null|                   null|              5173478|        8692109|Madrid|España|
|       null|              0|            null|20210307|       null|        null| 35138|         80193|           88|        16079|  45| null|null|        null|                  null|                 3667|                  null|                   0|           null|           638|        null|    null|               0|                   0|            0|                 null|                       null|              null|                  null|                  293|   null| 1209850| 4896419|              null|            9076|            0|                 null|                null|                       null|                      null|              null|         null|     null|    0| null| 11075732|                    null|       183005860|                  117278|                  null|              null|             null|                    null|                   null|                 null|      131110356|Madrid|España|
|       null|              0|            null|20210307|       null|        null|104342|         47713|           11|         2017|  92| null|null|      248212|                104754|                 3294|               2359035|                 541|          31471|           821|        null|21326714|           34457|                   0|            0|                 null|                       null|              null|                  null|                  210|   null|10733829| 1226710|              null|            4822|            0|                 null|                null|                       null|                      null|           4339522|         null|     null|    0| null|  4260727|                    null|        79264974|                  227823|                  null|              null|             null|                    null|                   null|             30444433|       60421782|Madrid|España|